[submodule "libargconfig"]
	path = libargconfig
	url = https://github.com/sbates130272/libargconfig.git
[submodule "nvme_donard"]
	path = nvme_donard
	url = https://github.com/sbates130272/nvme_donard.git
[submodule "libdonard"]
	path = libdonard
	url = https://github.com/sbates130272/libdonard.git
[submodule "donard_rdma"]
	path = donard_rdma
	url = https://github.com/sbates130272/donard_rdma.git
[submodule "mmap_dd"]
	path = mmap_dd
	url = https://github.com/sbates130272/mmap_dd.git
[submodule "mmap_test"]
	path = mmap_test
	url = https://github.com/sbates130272/mmap_test.git
[submodule "nvram_bench"]
	path = nvram_bench
	url = https://github.com/sbates130272/nvram_bench.git
[submodule "donard_tools"]
	path = donard_tools
	url = https://github.com/sbates130272/donard_tools.git
[submodule "io_peer_mem"]
	path = io_peer_mem
	url = https://github.com/sbates130272/io_peer_mem
[submodule "perftest"]
	path = perftest
	url = https://github.com/lsgunth/perftest.git
